*{
    margin: 0%;
    padding: 0%;
    background-color: #dfe3ff;
    text-decoration: none;
}

h1{
    font-size: 150px;
    font-family: sans-serif;
    font-weight: normal;
    font-style: bold;
    margin-top: 200px;
    margin-left: 100px;
    color: blue;
}

h2{
    font: normal 30px sans-serif;
    margin-left: 100px;
    margin-top: 5px;
    margin-bottom: 50px;

}

form{
    width: 400px;
    height: 300px;
    float: left;
    margin-top: -400px;
    margin-left: 1000px;
    padding: 90px;
    background-color: white;
    border-radius: 40px;


}

form input{
    margin-top: 15;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 10px;
    width: 400px;
}

button{
    font-size: 20px;
    text-align: center;
    margin-top: 5px;
    width: 430px;
    height: 50px;
    background-color: blue;
    color: white;
    border-radius: 10px;
}

p, a{
    text-align: center;
    margin-left: 20px;
    margin-top: 20px;
    background-color: white;
    font-size: 20px;

}


.container{
    width: 450px;
    background-color: white;
}

.btn2{
    background-color: green;
    margin: 90px;
    text-align: center;
    width: 250px;
    height: 50px;
    color: white;
    font-size: 20px;
}

section h3{
    margin-left: 1100px;
    margin-top: 195px;
    text-align: left;
    width: 400px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
}