*{
    margin: 0px;
    padding: 0px;
    background-color: #dedede;
}

nav{
    display: block;
    width: 100%;
    height: 100%;
    border: 1px;
    padding: 5px;
    background-color: lightblue;
    font-size: 30px;
}

nav a{
    width: 5px;
    margin: 10px;
    color: black;
    background-color: lightblue;
    text-decoration: none;
}

a:hover{
    color: blue;
}

section{
    position: relative;
    width: 100%;
    top: 70px;
    padding: 10px;
    text-align: center;
}

section h1{
    font: bold 90px Arial normal;
    width: 100%;
    padding: 20px;
}

section h2{
    font: bold 25px Arial normal;
    position: relative;
    top: 30px;
}

#mylink{
    margin-top: 60px;
    text-align: center;
    text-decoration: none;
}

p:nth-child(1){
    width: 100%;
    height: 100%;

    background-color: #fffaf0;
    padding: 10px;
    font: 20px normal;
    text-align: center;

}

p:nth-child(2){
    width: 100%;
    height: 100%;
    margin: 10px;
    background-color: #fffaf0;
    padding: 10px;
    font: 20px normal;
    text-align: center;
    word-spacing: 10px;
}

p:nth-child(3){
    width: 100%;
    height: 100%;
    margin: 10px;
    background-color: #fffaf0;
    padding: 10px;
    font: 20px normal;
    text-align: center;
    word-spacing: 10px;
}

p:nth-child(4){
    width: 100%;
    height: 100%;
    margin: 10px;
    text-decoration: none;
    background-color: #fffaf0;
    padding: 10px;
    font: 20px normal;
    text-align: center;
}

p > a {
    color: black;
    background-color: white;
    text-decoration: none;
    text-align: center;
}


#container{
    margin-top: 60px;
}

div h2{
    position: relative;
    right: 90px;
    width: 100%;
    height: 100%;
    font: bold 25px Arial normal;
    margin: 100px;
    text-align: center;


}

div a{
    margin-top: 10px;
    width: 100%;
    height: 100%;
    font: 20px Arial normal;
    text-align: center;
}

#lastlink{
    width: 100%;
    padding: 10px;
    background-color:  #fffaf0;
}








